<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">

    <test name="Personal loan">
        <parameter name="URL" value="qaclickacademy.com"></parameter>
        <classes>
            <class name="test.Day1">
                <methods>
                    <include name="Demo"></include>
                </methods>
            </class>
            <class name="test.Day2"></class>
            <class name="test.Day4"></class>

        </classes>
    </test>
    <test name="Car Loan">
        <parameter name="URL" value="carloan.com"></parameter>
        <parameter name="APIKey/username" value="123456"></parameter>
        <classes>
<class name="test.Day3">

    <methods>
        <exclude name="API.*"></exclude>
    </methods>
</class>
        </classes>

    </test>
</suite>